# Ignore Python virtual environment
env/
venv/
notebooks
# Ignore Python cache files
__pycache__/
*.py[cod]
*.pyo

# Ignore data files (if too large)
data/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore log files
*.log
.txt
# Ignore operating system files
.DS_Store
Thumbs.db

# Ignore IDE files
.vscode/
.idea/

# Ignore environment variables
.env
